.signup-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
  
.signup-modal-content {
    padding: 20px;
}
  
h2 {
    text-align: center;
    margin-bottom: 20px;
}
  
.form-group {
    margin-bottom: 15px;
}
  
label {
    display: block;
    margin-bottom: 5px;
}
  
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
  
.signup-button:hover {
    background-color: #444;
}
  
.signup-signin {
    text-align: center;
    margin-top: 20px;
}
  
.signup-signin a {
    color: #007bff;
    text-decoration: none;
}
  
.signup-signin a:hover {
    text-decoration: underline;
} 
  